<div class="container-fluid">
    <div class="row">
        <div class="col-12" style="height: 450px; overflow: scroll">
            <table class="table table-striped" width="100%">
                <thead class="thead-dark">
                    <tr>
                        <th>Country</th>
                        <th>New Confirmed
                            <div class="btn-group">
                                <button class="btn btn-default" (click)="btnSortHandler('NewConfirmed', 1)">
                                    <img src="https://cdn0.iconfinder.com/data/icons/flat-round-arrow-arrow-head/512/Red_Arrow_Top-2-512.png" width="25px"/>
                                </button>
                                <button class="btn btn-default" (click)="btnSortHandler('NewConfirmed', -1)">
                                    <img src="https://cdn0.iconfinder.com/data/icons/flat-round-arrow-arrow-head/512/Red_Arrow_Down-2-512.png" width="25px" />
                                </button>  
                            </div>
                        </th>
                        <th>Total Confirmed
                            <div class="btn-group">
                                <button class="btn btn-default" (click)="btnSortHandler('TotalConfirmed', 1)">
                                    <img src="https://cdn0.iconfinder.com/data/icons/flat-round-arrow-arrow-head/512/Red_Arrow_Top-2-512.png" width="25px"/>
                                </button>
                                <button class="btn btn-default" (click)="btnSortHandler('TotalConfirmed', -1)">
                                    <img src="https://cdn0.iconfinder.com/data/icons/flat-round-arrow-arrow-head/512/Red_Arrow_Down-2-512.png" width="25px" />
                                </button>
                            </div>
                        </th>
                        <th>New Deaths
                            <div class="btn-group">
                                <button class="btn btn-default" (click)="btnSortHandler('NewDeaths', 1)">
                                    <img src="https://cdn0.iconfinder.com/data/icons/flat-round-arrow-arrow-head/512/Red_Arrow_Top-2-512.png" width="25px"/>
                                </button>
                                <button class="btn btn-default" (click)="btnSortHandler('NewDeaths', -1)">
                                    <img src="https://cdn0.iconfinder.com/data/icons/flat-round-arrow-arrow-head/512/Red_Arrow_Down-2-512.png" width="25px" />
                                </button>  
                            </div>
                        </th>
                        <th>Total Deaths
                            <div class="btn-group">
                                <button class="btn btn-default" (click)="btnSortHandler('TotalDeaths', 1)">
                                    <img src="https://cdn0.iconfinder.com/data/icons/flat-round-arrow-arrow-head/512/Red_Arrow_Top-2-512.png" width="25px"/>
                                </button>
                                <button class="btn btn-default" (click)="btnSortHandler('TotalDeaths', -1)">
                                    <img src="https://cdn0.iconfinder.com/data/icons/flat-round-arrow-arrow-head/512/Red_Arrow_Down-2-512.png" width="25px" />
                                </button>  
                            </div>
                        </th>
                        <th>New Recovered
                            <div class="btn-group">
                                <button class="btn btn-default" (click)="btnSortHandler('NewRecovered', 1)">
                                    <img src="https://cdn0.iconfinder.com/data/icons/flat-round-arrow-arrow-head/512/Red_Arrow_Top-2-512.png" width="25px"/>
                                </button>
                                <button class="btn btn-default" (click)="btnSortHandler('NewRecovered', -1)">
                                    <img src="https://cdn0.iconfinder.com/data/icons/flat-round-arrow-arrow-head/512/Red_Arrow_Down-2-512.png" width="25px" />
                                </button>  
                            </div>
                        </th>
                        <th>Total Recovered
                            <div class="btn-group">
                                <button class="btn btn-default" (click)="btnSortHandler('TotalRecovered', 1)">
                                    <img src="https://cdn0.iconfinder.com/data/icons/flat-round-arrow-arrow-head/512/Red_Arrow_Top-2-512.png" width="25px"/>
                                </button>
                                <button class="btn btn-default" (click)="btnSortHandler('TotalRecovered', -1)">
                                    <img src="https://cdn0.iconfinder.com/data/icons/flat-round-arrow-arrow-head/512/Red_Arrow_Down-2-512.png" width="25px" />
                                </button>  
                            </div>
                        </th>
                    </tr>
                </thead>
                <tr *ngFor='let d of data'>
                    <td>{{ d["Country"] }}</td>
                    <td>{{ d["NewConfirmed"] }}</td>
                    <td>{{ d["TotalConfirmed"] }}</td>
                    <td>{{ d["NewDeaths"] }}</td>
                    <td>{{ d["TotalDeaths"] }}</td>
                    <td>{{ d["NewRecovered"] }}</td>
                    <td>{{ d["TotalRecovered"] }}</td>
                </tr>
            </table>
        </div>
    </div>
</div>