<div class="container-fluid">
    <div class="row">
        <div class="col-12" style="height: 450px; overflow: scroll">
            <table class="table table-striped" width="100%">
                <thead class="thead-dark">
                    <tr>
                        <th>Country</th>
                        <th>Today's Cases</th>
                        <th>Total Cases</th>
                        <th>Today's Deaths</th>
                        <th>Total Deaths</th>
                        <th>Today's Recovered</th>
                        <th>Total Recovered</th>
                    </tr>
                </thead>
                <!-- <tr *ngFor='let c of covData.Countries'>
                    <td>{{ c.Country }}</td>
                    <td>{{ c.NewConfirmed }}</td>
                    <td>{{ c.TotalConfirmed }}</td>
                    <td>{{ c.NewDeaths }}</td>
                    <td>{{ c.TotalDeaths }}</td>
                    <td>{{ c.NewRecovered }}</td>
                    <td>{{ c.TotalRecovered }}</td>
                </tr> -->
            </table>
        </div>
    </div>
</div>